@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width:1440px){
  .name{
    font-size: 100px;
  }
  .surname{
    font-size: 100px;
  }
}

@media(max-width:1100px){
  .project_section{
    flex-wrap: wrap;
  }
  .name{
    font-size: 50px;
  }
  .surname{
    font-size: 50px;
  }
}

@media(max-width:861px){
  .header{
    flex-direction: column;
  }
  .name_surname{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .ed1,.ed2,.ed3,.ed4{
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  .name_surname{
    
  }
}